<div id="reportResult" style=""><h3>Report for <span id="from_date"></span> to <span id="to_date"></span></h3></div>
<div id="finalSummaryDiv">
    INCOME:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="income" class="income"></span>
    <br>
    EXPENSES:&nbsp;&nbsp;
    <span id="expenses" class="expenses"></span>
    <br>
    SAVINGS:&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="savings" class="income"></span>
</div>
<br>
<br>
<br>
<div class="allreports" id="allreports" style="display: block;">
    <br>
    <div class="superChart" id="super_chart_div" style="position: relative;">
    </div>
    <br>
    <div class="superChart" id="sub_chart_div" style="margin-top:-20px">
    </div>
    <br>
    <div class="superChart" id="bd_chart_div" style="margin-top:-20px">
    </div>
<span class="subChart" id="sub_net_chart_div" style="display: none;">
</span>
    <div class="caption" id="piechartsummary" style="width:200px; height:150px; margin-left:50px; margin-top:-75px;">
    </div>

    <br>
    <div class="" id="purchasesTable2" style="">
    </div>

    <br>
    <br>

    <div class="" id="budget_status_area" style="">
        {% include budget_status %}
    </div>

    <br>
    <br>
    <div class="" id="paycheckTable" style="">
    </div>
</div>
