<div class="generate_report">
    <form method="post" action="{% url 'getreport' %}"  enctype="application/x-www-form-urlencoded" name="report_form" id="report_form">
        <p class="thelabel">
            Choose a monthly report
        </p>
        <p id="months_switch"  class="switch">
            {% for radio in navigation_form.standard_month %}
                {{ radio.tag }}
            {% endfor %}
            {% for i in months %}
                &nbsp;&nbsp;<label for="months_{{  forloop.counter0 }}" id="cb-{{ forloop.counter0 }}" class="cb-enable"><span>{{ i }}</span></label>
                <!-- &nbsp;&nbsp;<input onclick="getReport('standard')" type="radio" class="radio_switches checkbox" id="{#   i  #}" name="{# i #}" value="{# i #}"> -->
            {% endfor %}
        </p>
        <br>
        <p id="years_switch" class="switch">
            {% for radio in navigation_form.standard_year %}

                {# radio.tag #}
            {% endfor %}
            {% for i in years %}
                &nbsp;&nbsp;<label id="cb-{{ i  }}" for="years_{{ i}}" class="cb-enable"><span>{{ i }}</span></label>
                <!-- <input onclick="getReport('standard')" type="radio" class="radio_switches" id="{# i #}" name="{# i #}" value="{# i #}">-->
                <input onclick="getReport('standard')" type="radio" class="radio_switches" id="years_{{ i }}" name="years_{{ i }}" value="{{ i }}">
            {% endfor %}
        </p><br>
        <br>
        <p class="thelabel">
            Or, define your own custom date
        </p>
        <input type="text" name="Date" value="mm" size="1" maxlength="2" id="frommonth">/<input type="text" name="Date" value="dd" size="1" maxlength="2" id="fromday">/<input type="text" name="Date" value="yyyy" size="2" maxlength="4" id="fromyear"> to
        <input type="text" name="Date" value="mm" size="1" maxlength="2" id="tomonth">/<input type="text" name="Date" value="dd" size="1" maxlength="2" id="today">/<input type="text" name="Date" value="yyyy" size="2" maxlength="4" id="toyear"><br>
        <br>
        <a class="button" onclick="getReport('custom')" href="javascript:void(0)"><span>Go!</span></a>
    </form>
</div>
