body {
  font-family: Helvetica;
  overflow: scroll;
  padding-right: 0px;
}
h3 {
  font-weight: bold;
  font-size: 50px;
}
#finalSummaryDiv {
  font-weight: bold;
  font-size: 25px;
  line-height: 30pt;
}
.income {
  color: green;
}
.expenses {
  color: red;
}
.allreports {
  display: none;
}
.purchases_table {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
#paychecks_table td {
  width: 100px;
  padding: 5px 20px;
}
#paychecks_table td.date {
  width: 150px;
}
.purchases_table tfoot th.deductions {
  color: red;
}
.purchases_table td.deductions {
  color: red;
}
.purchases_table td.date {
  border-right: 1px solid black;
  width: 20px;
  padding: 0px 25px;
  text-align: center;
}
.purchases_table tfoot th.total_deducts {
  color: red;
  border-left: 1px solid black;
}
.purchases_table td.total_deducts {
  color: red;
  border-left: 1px solid black;
}
.purchases_table tfoot th.net,
.purchases_table td.net {
  color: green;
  border-left: 3px solid black;
}
.purchases_table td.gross,
.purchases_table thead th.gross,
.purchases_table tfoot th.gross {
  border-right: 4px solid black;
}
.purchases_table thead th {
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  background-image: url('images/bluegrad.gif');
  background-repeat: repeat-x;
  background-position: bottom left;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid black;
}
.purchases_table tfoot tr {
  padding-top: 10px;
  background-color: #d5E9F8;
}
.purchases_table tfoot th {
  border-top: 2px solid black;
  padding-top: 5px;
}
.purchases_table tfoot tr:hover {
  background-color: #d5E9F8;
}
.purchases_table thead tr:hover {
  background-color: white;
}
.purchases_table tr:hover {
  background-color: #e7e9f9;
}
.purchases_table td {
  padding: 5px 55px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
}
.purchases_table td.category {
  width: 20px;
  padding-left: 15px;
  padding-right: 30px;
}
.generate_report {
  display: block;
  width: 100%;
  border-top: solid #ff0000;
  padding-top: 50px;
  border-bottom: solid #ff0000;
  padding-bottom: 100px;
  border-width: 10px;
}
.generate_report input {
  font-size: 30px;
}
.generate_report .thelabel {
  font-weight: bold;
  color: #0099c6;
  font-size: 30px;
}
.date_td {
  width: 120px;
}
.addremove_td img {
  border-style: none;
  width: 30px;
  height: 30px;
}
.deduct_td {
  color: red;
  border-color: black;
}
.month,
.day {
  width: 60px;
}
.year {
  width: 100px;
}
.input_paycheck {
  font-size: 30px;
  border-top: solid #ff0000;
  border-width: 10px;
  padding-top: 50px;
}
.input_paycheck label {
  font-weight: bold;
  color: #0099c6;
  font-size: 20px;
}
.input_paycheck input {
  font-size: 30px;
  width: 100px;
}
.input_receipt {
  font-size: 30px;
  display: block;
  border-top: solid #ff0000;
  border-width: 10px;
  padding-top: 50px;
}
.input_receipt label {
  font-weight: bold;
  color: #0099c6;
  font-size: 20px;
  text-align: center;
}
.input_receipt input {
  font-size: 30px;
}
.input_receipt select {
  display: none;
}
.product_table .addremove_td {
  border-left: 0px;
  font-size: 15px;
}
.product_table label {
  border-style: hidden;
  color: red;
}
.paycheck_table {
  display: inline;
}
#sub_net_chart_div {
  border-color: green;
  border-style: solid;
  border-width: 10px;
  width: 400px;
  height: 300px;
  display: none;
  position: absolute;
  z-index: 2;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: Helvetica;
  padding: 0px;
  font-size: 9;
  text-align: center;
}
#addlabelpopup {
  border-color: green;
  border-style: solid;
  border-width: 10px;
  width: 300px;
  height: 100px;
  background-color: #FFFFFF;
  display: none;
  position: absolute;
  z-index: 2;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: Helvetica;
  padding: 20px;
  font-size: 9;
}
#addlabelpopup a {
  color: red;
}
#background_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: .3;
  -moz-opacity: .3;
  filter: alpha(opacity=30);
  border: 1px solid #cecece;
  z-index: 1;
  display: none;
}
a.button {
  display: block;
  float: left;
  -moz-border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: 15px;
  text-decoration: none;
  background-color: red;
  color: red;
}
a.button span {
  line-height: 35px;
  display: block;
  font-weight: bold;
  padding: 0 20px;
  color: white;
  text-decoration: none;
}
a.button:hover {
  background-color: #fff;
  color: white;
}
a.button:hover span {
  color: red;
}
span.tooltip {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  padding: 15px 0 0 0;
  width: 200px;
  color: #993300;
  text-align: center;
  opacity: 0.90;
}
#category_dropdown {
  margin-bottom: 0px;
  margin-top: 5px;
}
#category_dropdown li {
  width: 8em;
}
#category_dropdown li.supercategory_li {
  width: 7em;
}
#category_dropdown a {
  color: #0099C6;
  background-color: #DDDDDD;
  font-size: 20px;
  padding: 5px;
  border-style: solid ;
  border-width: 1px ;
  border-color: #0099C6 ;
  display: block;
  position: relative;
  padding-right: 50px;
}
#category_dropdown a:hover {
  background-color: #0099C6;
  color: #DDDDDD;
}
#category_dropdown a.supercategory {
  font-size: 15px;
  border-top: solid 1px #0099C6f;
  border-left: solid 1px #0099C6f;
  border-right: solid 1px #0099C6f;
  border-bottom: none;
}
#category_dropdown a.subcategory {
  font-size: 15px;
  border-top: none;
  border-bottom: none;
  border-right: solid 1px #0099C6f;
  border-left: none;
}
#category_dropdown li.supercategory_li:first-child a.supercategory {
  border-top: none;
}
#category_dropdown li.supercategory_li:last-child a.supercategory {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #0099C6f;
}
#category_dropdown li.subcategory_li:last-child a.subcategory {
  border-style: solid;
  border-width: 1px;
  border-color: #0099C6f;
}
#category_dropdown li.subcategory_li:first-child a.subcategory {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #0099C6f;
}
/* Used for the Switch effect: */
.cb-enable,
.cb-enable span {
  display: block;
  float: left;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  color: black;
  font-size: 15px;
}
.cb-enable span {
  line-height: 40px;
  display: block;
  font-weight: bold;
  padding: 0 20px;
  color: red;
}
.cb-enable.selected span {
  color: #fff;
  background-color: #ff0000;
}
.cb-enable:hover span {
  color: #fff;
  background-color: #ff0000;
}
.switch label {
  cursor: pointer;
}
.radio_switches {
  display: none;
}
.progressLabel .total {
  float: right;
  display: block;
}
.progressLabel .title {
  display: inline-block;
}
.progressBar {
  width: 400px;
  height: 20px;
  border: 1px solid #111;
  background: none repeat scroll 0 0 #E6E5E2;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 -1px 1px #c0bfbc inset;
  margin-bottom: 5px;
}
.progressBar div {
  height: 100%;
  color: #fff;
  text-align: right;
  line-height: 20px;
  /* same as #progressBar height if we want text middle aligned */

  width: 0;
  background: -moz-linear-gradient(center top, #4bff4b, #005f00) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center bottom, from(#4bff4b), to(#005f00));
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0 2px 2px #333333;
}
.progressBar div.overbudget {
  background: -moz-linear-gradient(center top, #ff4b4b, #980000) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center bottom, from(#ff4b4b), to(#980000));
}
